@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root{
    --theme-modo-dark-header-color: #000;  
    --theme-modo-dark-body-color: #fff;
    --theme-modo-dark-body-background: #222;
}

* {
    font-family: 'Sofia Sans', Calibri;
    padding: 0;
    margin: 0;
    user-select: none;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    position: relative;
}

body::-webkit-scrollbar{
    width: 6px;
    border-radius: 3px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 3px;
    background-color: #0006;
}

.contenedor-logos{
    background-color: #0001;
    padding: 3px;
    width: 50px;
    height: 230px;
    position: fixed;
    top: 40%;
    bottom: 40%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-radius: 5px;
}

.btn-scroll-top{
    background-color: #1F618D;
    color: #000;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    border-color: #000;
    font-weight: bold;

    transform: translateX(100px);

    transition: 0.3s ease all;
}

.btn-scroll-top:hover{
    color: #fff;
}

.btn-scroll-top-active{
    transform: translateX(0);
}


.contenedor-logos div{
    width: 90%;
    height: 40px;
}

.contenedor-logos div img{
    width: 100%;
}

.contenedor-header{
    position: sticky;
    top: 0;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0006;
    z-index: 900;
    transition: 1s ease all;
    display: none;
}

.overlay-active{
    display: block;
}

.contenedor-header .contenedor-titulo{
    background-color: #8a2be2;
    text-align: center;
    text-shadow: 0 0 3px #222;
    display: flex;
    justify-content: center;
}

.contenedor-header .contenedor-titulo .titulo{
    width: 300px;
    font-size: 18px;
}

header{
    height: 80px;
    display: flex;
    background-color: #1F618D;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 3px #222;
}

header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 600;
    width: 30px;
    height: 30px;
}

header div {
    display: flex;
    gap: 30px;
}

header button img{
    width: 100%;
}

header div .moto-entrega{
    position: relative;
}

header div .moto-entrega img{
    width: 100%;
}

header div .moto-entrega span{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #8a2be2;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

header div .btn-theme-dark{
    background-color: #0004;
    font-size:20px;
    border-radius: 50%;
}

.moto{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    height: 100vh;
    position: fixed;
    transition: .5s ease all;
    box-shadow: 0 0 3px #222;

    transform: translateX(-10000px);
    z-index: 1000;
    gap: 5px;
}


.moto .moto-encabezado{
    width: 100%;
    background-color: #1F618D;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 3px #000;
}

.moto .moto-encabezado button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.moto .moto-productos{
    overflow-y: scroll;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.moto .moto-productos::-webkit-scrollbar{
    width: 7px;
    background-color: #fff;
    border-radius: 3px;
}

.moto .moto-productos::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: #0006;
    border-radius: 3px;
}

.moto-producto-contenedor{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moto-productos-contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.moto-productos-contenedor-imagen img{
    width: 100%;
    height: 200px;
    background-color: #0001;
    border-radius: 3px;
}

.moto .moto-comprar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #1F618D;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3px #000;
}

.moto .moto-comprar button{
    background-color: #2ECC71;
    height: 30px;
    width: 100px;
    border:  transparent;
    border-radius: 10px;
    margin: 0 10px;
}

.moto .moto-comprar button:hover{
    font-weight: bold;
    cursor: pointer;
}


.moto-active{
    transform: translateX(0);
}

.desactivar-scroll-body{
    overflow-y: hidden;
}



.navegacion{
    position: fixed;
    z-index: 998;
    width: 28%;
    height: 100vh;
    background-color: #fff; /*8a2be290*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    box-shadow: 0 0 3px #222;

    transition: .5s ease all;
    transform: translateX(-1000px);
}

.navegacion-active{
    transform: translateX(0);
    z-index: 901;
}

.navegacion .navegacion-secciones{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.navegacion .contenedor-menu-despegable{
    width: 100%;   
}

.navegacion .navegacion-secciones a{
    color: #000;
    text-decoration: none;
    width: auto;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.navegacion .link-menu{
    width: 100%;
}

.navegacion a:hover{
    color: #000;
    background-color: #0003;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;
    border-right: 3px solid #000;
}

.navegacion ul{
    background-color: #222;
    list-style: none;
}

.lista-inactive{
    display: none;
}

section{
    padding-top: 6rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    line-height: 2;
    z-index: 11;
}

section .contenedor-contenido{
    padding: 0 20px;
    border-left: 2px solid #0002;
    border-right: 2px solid #0002;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

section .contenedor-contenido .contenedor-imagen{
    width: 100%;
}

section .contenedor-contenido .contenedor-imagen img {
    width: 100%;
    border-radius: 4px;
}

ul{
    margin-left: 30px;
}

.contenedor-productos-filtro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#filtro-categorias{
    width: 200px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

.buscador-productos input[type="search"]{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #000;
    text-indent: 20px;
    outline: none;
}

.buscador-productos input[type="button"]{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #1F618D;
    cursor: pointer;
    transition: .3s ease all;
    outline: none;
}

.buscador-productos input[type="button"]:hover{
    background-color: #1F618Ddd;
    font-weight: bold;
}

.contenedor-producto{
    display: flex;
    width: 30%;
    padding: 5px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.contenedor-producto button{
    background-color: #1F618D;
    width: 100%;
    height: 30px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s ease all;
}

.contenedor-producto button:hover{
    background-color: #1F618Ddd;
    font-weight: bold;
}

.contenedor-producto p{
    width: 90%;
    line-height: 1.2;
    font-size: 13px;
}

.contenedor-producto h3{
    background-color: #0001;
    width: 100%;
    text-align: center;
    border-radius: 3px;
}

.contenedor-producto--imagen{
    width: 90%;
    height: 240px;
}

.contenedor-producto--imagen img{
    width: 100%;
    height: 240px;
}




/* MODO DARK */
.modo-dark{
    background-color: var(--theme-modo-dark-body-background);
    color: #fff;
}


.modo-dark h2, .modo-dark strong{
    color: #8E44AD;
    text-shadow: 0 0 3px #000;
}

.modo-dark header, .modo-dark h1{
    background-color: #8E44AD;
    color: #000;
}

.modo-dark .contenedor-logos{
    background-color: #fff1;
}

.modo-dark .navegacion{
    background-color: var(--theme-modo-dark-body-background);
    color: var(--theme-modo-dark-body-color) !important;
}

.modo-dark .navegacion a{
    color: var(--theme-modo-dark-body-color) !important;
} 

.modo-dark .navegacion a:hover{
    color: #8E44AD !important;
    border-right: 3px solid #8E44AD;
    background-color: #F2F3F420;
}

.modo-dark .btn-scroll-top{
    background-color: #8E44AD;
}   

.modo-dark .contenedor-producto button{
    background-color: #8E44AD;
}

.modo-dark .contenedor-producto h3{
    background-color: #fff1;
}

.modo-dark .contenedor-producto button:hover{
    background-color: #8E44ADaa;
}

.modo-dark .buscador-productos input[type="button"]{
    background-color: #8E44AD;
}

.modo-dark .buscador-productos input[type="button"]:hover{
    background-color: #8E44ADaa;
}

.modo-dark .moto-entrega span{
    background-color: #1F618D;
}

.modo-dark .moto-productos{
    background-color: #222;
}

.modo-dark .moto{
    background-color: #222;
}

.modo-dark .moto .moto-productos-contenedor-imagen img{
    background-color: #fff1;
}

.modo-dark .moto .moto-encabezado{
    background-color: #8E44AD;
}

.modo-dark .moto-comprar{
    background-color: #8E44AD;
}

@media screen and (max-width: 2560px) {

    header h1{
        font-size: 25px;
    }

    section .contenedor-contenido{
        width: 70%;
    }

    .navegacion-active{
        width: 40%;
    }

    .contenedor-producto{
        width: 15%;
    }
}

@media screen and (max-width: 1440px) {

    header h1{
        font-size: 25px;
    }

    section .contenedor-contenido{
        width: 70%;
    }

    .navegacion-active{
        width: 30%;
    }

    .contenedor-producto{
        width: 25%;
    }
}

@media screen and (max-width: 1030px) {

    header h1{
        font-size: 25px;
    }

    section .contenedor-contenido{
        width: 70%;
    }


    .navegacion-active{
        width: 40%;
    }

    .contenedor-producto{
        width: 30%;
    }
}

@media screen and (max-width: 769px) {

    header h1{
        font-size: 25px;
    }

    section .contenedor-contenido{
        width: 80%;
    }


    .navegacion-active{
        width: 100%;
    }

    .contenedor-producto{
        width: 40%;
    }

    .moto{
        width: 100%;
    }
}

@media screen and (max-width: 426px) {

    header h1{
        font-size: 25px;
    }

    section .contenedor-contenido{
        width: 85%;
    }

    .contenedor-logos{
        display: none;
    }

    .navegacion-active{
        width: 100%;
    }

    .contenedor-producto{
        width: 90%;
    }

    .moto{
        width: 100%;
    }
}

@media screen and (max-width: 376px) {

    header h1{
        font-size: 20px;
    }

    section .contenedor-contenido{
        width: 95%;
    }

    .contenedor-logos{
        display: none;
    }

    .navegacion-active{
        width: 100%;
    }

    .contenedor-producto{
        width: 90%;
    }

    .moto{
        width: 100%;
    }
}


@media screen and (max-width: 321px) {

    header div{
        gap: 10px;
    }

    header h1{
        font-size: 17px !important;
    }

    section .contenedor-contenido{
        width: 100% !important;
    }

    .contenedor-logos{
        display: none;
    }

    .navegacion-active{
        width: 100%;
    }

    header button{
        width: 20px;
        height: 20px;
    }

    header div .btn-theme-dark{
        font-size: 12px;
    }

    header div .moto-entrega span{
        width: 10px;
        height: 10px;
    }

    .btn-scroll-top{
        width: 40px;
        height: 40px;
        font-size: inherit;
    }

    .contenedor-producto{
        width: 90%;
    }

    .moto{
        width: 100%;
    }
    
    
}



